body {
  font-family: Arial;
  font-size: 20px;
  text-align: justify;
  background-color: rgba(0, 236, 236, 0.466);
  color: white;
  background-image: url(https://paw.hu/uploads/pictures/0/688/cuki_kutya_juli_paw_5.jpg);
  background-repeat: no-repeat;
}
table {width: 500px;
height: 550px;margin: auto auto;border: 10px solid blue;border-radius: 20px;}

img {
  margin: auto;
  width: 750px;
  height: 450px;
}
a:link {
  text-decoration: none;
}
a:hover {
  color: red;
}
p {
  text-align: justify;
  text-indent: 20px;
}
td {
  background-color: lightgreen;
}
caption {
  font-size: 30px;
  font-family: cursive;
  background-color: red;
  border-radius: 20px ;
}
