body {
  font-family: Arial;
  font-size: 14px;
  text-align: justify;
  background-color: azure;
  color: white;
}
table {width: 500px;
height: 550px;border: auto auto}

border {1px solid green;border-style:dotted;  }
th {bgcolor:green}
td {bgcolor:blue}

